openapi: 3.1.0
info:
  title: WordSparrow Identity API
  version: 0.1.0
  summary: Player identity via Google + Apple OIDC.
  description: |
    Player identity via Google + Apple OIDC. Scopes: `openid` only.
    Cookie: `__Host-ws_session` (HttpOnly, Secure, SameSite=Lax, Path=/).
    The `__Host-` prefix locks the cookie to the exact request host with no
    Domain attribute — see RFC 6265bis §4.1.3. See ADR-0044 and ADR-0045.
  contact:
    name: Bliss maintainers
    url: https://github.com/Ishou/bliss
    email: noreply@bliss.example
  license:
    name: FSL-1.1-MIT
    url: https://github.com/Ishou/bliss/blob/main/LICENSE

servers:
  - url: https://auth.wordsparrow.io
    description: Production
  - url: http://localhost:7779
    description: Local k3d

tags:
  - name: auth
    description: |
      OIDC sign-in flows, provider callbacks, session management (whoami, logout).
  - name: users
    description: |
      Current-user read/write, right-to-erasure (RGPD Article 17), and provider linking.

paths:
  /v1/auth/{provider}/login:
    get:
      operationId: beginLogin
      summary: Start an OIDC sign-in flow.
      description: |
        Validates `provider` and `return_to`, creates a state cookie for CSRF
        protection, then redirects the browser to the IdP authorise endpoint.
      tags: [auth]
      parameters:
        - $ref: '#/components/parameters/ProviderPath'
        - in: query
          name: return_to
          required: true
          description: URL to redirect to after a successful or failed sign-in. Must be under the app origin.
          schema: { type: string, format: uri }
      responses:
        '302':
          description: Redirect to the IdP authorise endpoint.
          headers:
            Set-Cookie: { schema: { type: string } }
            Location: { schema: { type: string, format: uri } }
        '400': { $ref: '#/components/responses/ProblemDetails' }

  /v1/auth/google/callback:
    get:
      operationId: googleCallback
      summary: Google OIDC callback (GET, query string).
      description: |
        Google posts `code` and `state` as query parameters. Verifies state,
        exchanges the code for an id_token, upserts the player, issues the
        session cookie, and redirects to `return_to`.
      tags: [auth]
      parameters:
        - in: query
          name: code
          required: true
          description: Authorization code returned by Google.
          schema: { type: string }
        - in: query
          name: state
          required: true
          description: Opaque CSRF state value that must match the state cookie.
          schema: { type: string }
      responses:
        '302':
          description: Redirect to `return_to`. Sets the session cookie if sign-in succeeded.
          headers:
            Set-Cookie: { schema: { type: string } }
            Location: { schema: { type: string, format: uri } }
        '400': { $ref: '#/components/responses/ProblemDetails' }
        '409': { $ref: '#/components/responses/ProblemDetails' }
        '500': { $ref: '#/components/responses/ProblemDetails' }
        '503': { $ref: '#/components/responses/ProblemDetails' }

  /v1/auth/apple/callback:
    post:
      operationId: appleCallback
      summary: Apple OIDC callback (POST, form-encoded body — Apple uses response_mode=form_post).
      description: |
        Apple uses `response_mode=form_post`, delivering `code`, `state`, and
        optionally a `user` JSON payload in the form body. Verifies state,
        exchanges the code for an id_token, upserts the player, issues the
        session cookie, and redirects to `return_to`.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [code, state]
              properties:
                code:
                  type: string
                  description: Authorization code returned by Apple.
                state:
                  type: string
                  description: Opaque CSRF state value that must match the state cookie.
                user:
                  type: string
                  description: "Apple's name JSON, only present on first sign-in. Ignored by this API."
      responses:
        '302':
          description: Redirect to `return_to`. Sets the session cookie if sign-in succeeded.
          headers:
            Set-Cookie: { schema: { type: string } }
            Location: { schema: { type: string, format: uri } }
        '400': { $ref: '#/components/responses/ProblemDetails' }
        '409': { $ref: '#/components/responses/ProblemDetails' }
        '500': { $ref: '#/components/responses/ProblemDetails' }
        '503': { $ref: '#/components/responses/ProblemDetails' }

  /v1/auth/whoami:
    get:
      operationId: whoAmI
      summary: Resolve the current session cookie to a user.
      description: |
        Used by grid-api and game-api for downstream auth. Returns minimal
        identity (userId + displayName) without PII. Returns 401 if no valid
        session cookie is present.
      tags: [auth]
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Signed in. Returns the minimal identity for the session.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WhoAmIResponse' }
        '401': { $ref: '#/components/responses/ProblemDetails' }

  /v1/auth/logout:
    post:
      operationId: logout
      summary: Revoke the current session and clear the cookie.
      description: |
        Deletes the server-side session record and sets a clearing Set-Cookie
        header. Safe to call even when no session exists (idempotent on the
        client side; returns 401 only when the cookie is absent).
      tags: [auth]
      security:
        - sessionCookie: []
      responses:
        '204':
          description: Logged out. Response sets a clearing Set-Cookie.
          headers:
            Set-Cookie: { schema: { type: string } }
        '401': { $ref: '#/components/responses/ProblemDetails' }

  /v1/users/me:
    get:
      operationId: getMe
      summary: Return the current user.
      description: |
        Returns the full user profile for the authenticated player, including
        linked providers and account metadata.
      tags: [users]
      security:
        - sessionCookie: []
      responses:
        '200':
          description: The authenticated user's profile.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/ProblemDetails' }
    patch:
      operationId: updateMe
      summary: Update display name and/or email-opt-in.
      description: |
        Partial update — only the fields present in the body are changed.
        `displayName` is deduplicated by appending a numeric suffix if already
        taken (per ADR-0045 §2).
      tags: [users]
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserUpdate' }
      responses:
        '200':
          description: The updated user profile.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '400': { $ref: '#/components/responses/ProblemDetails' }
        '401': { $ref: '#/components/responses/ProblemDetails' }
    delete:
      operationId: deleteMe
      summary: Hard-delete the user; cascades to grid/game via UserDeleted event (RGPD Article 17).
      description: |
        Permanently deletes the player account and publishes a `UserDeleted`
        domain event so that grid-api and game-api can wipe their user-scoped
        rows. Sets a clearing Set-Cookie. Per ADR-0045 §4 (data minimization),
        no soft-delete — the row is gone immediately.
      tags: [users]
      security:
        - sessionCookie: []
      responses:
        '204':
          description: Deleted; response sets a clearing Set-Cookie.
          headers:
            Set-Cookie: { schema: { type: string } }
        '401': { $ref: '#/components/responses/ProblemDetails' }
        '503': { $ref: '#/components/responses/ProblemDetails' }

  /v1/users/me/providers/{provider}/link:
    post:
      operationId: linkProvider
      summary: Begin an OIDC flow that links another provider to the current user.
      description: |
        Generates an IdP authorise URL that, when followed by the browser,
        will call the corresponding callback and attach the new provider to the
        existing account. Returns the URL for the frontend to navigate to; it
        does not redirect server-side.
      tags: [users]
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/ProviderPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [returnTo]
              properties:
                returnTo: { type: string, format: uri }
      responses:
        '200':
          description: Returns the IdP authorise URL for the frontend to navigate the browser to.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BeginLinkResponse' }
        '400': { $ref: '#/components/responses/ProblemDetails' }
        '401': { $ref: '#/components/responses/ProblemDetails' }

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: __Host-ws_session

  parameters:
    ProviderPath:
      in: path
      name: provider
      required: true
      description: OIDC provider identifier. Currently `google` or `apple`.
      schema:
        type: string
        enum: [google, apple]
        x-enum-varnames: [GOOGLE, APPLE]

  schemas:
    User:
      type: object
      required: [id, displayName, providers, createdAt]
      properties:
        id: { type: string, format: uuid }
        displayName: { type: string, minLength: 1, maxLength: 30 }
        providers:
          type: array
          items: { $ref: '#/components/schemas/LinkedProvider' }
        createdAt: { type: string, format: date-time }

    LinkedProvider:
      type: object
      required: [provider, linkedAt, emailOptIn]
      properties:
        provider:
          type: string
          enum: [google, apple]
          x-enum-varnames: [GOOGLE, APPLE]
        linkedAt: { type: string, format: date-time }
        emailOptIn: { type: boolean }

    UserUpdate:
      type: object
      properties:
        displayName: { type: string, minLength: 1, maxLength: 30 }
        emailOptIn: { type: boolean }

    WhoAmIResponse:
      type: object
      required: [userId, displayName]
      properties:
        userId: { type: string, format: uuid }
        displayName: { type: string, minLength: 1, maxLength: 30 }

    BeginLinkResponse:
      type: object
      required: [authorizeUrl]
      properties:
        authorizeUrl: { type: string, format: uri }

    ProblemDetails:
      type: object
      required: [type, title, status]
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }

  responses:
    ProblemDetails:
      description: RFC 7807 problem+json
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }

# Domain events: see identity/api/events/
